html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: url('/bg_image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-x: hidden;
}

@media (max-width: 900px) {
  body {
    background: url('/bg_image_mob.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
